.missions-card {
    width: 400px;
    background-color: rgba(131, 131, 131, 0.099);
    border: solid 1px white;
    margin: 15px; 
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mission-name {
    display: flex;
    height: 50px;
    align-items: start;
}

.data-mission {
    display: flex;
    color: aqua;
    width: 350px;
    justify-content: space-between;

}